
<script src="https://cdn.jsdelivr.net/npm/@widgetbot/crate@3" async defer>
  new Crate({
    server: '741055407119794267', // Pusula Development
    channel: '815556658369003530' // <#815556658369003530>
  })
</script>
   
    <style>

.btn1 {


display:inline-block;
cursor:pointer;
color:#99a3ec;
font-family:Arial;
font-size:19px;
padding:20px 80px;
text-decoration:none;
text-shadow:0px 1px 0px #2f6627;
}
.btn1:hover {
background-color:#050505;
}
.btn1:active {
position:relative;
top:1px;
}
 
      
.adresler{
  position: relative;
  left: 240px;
  top: -58px;
}

.adresler2{
  position: relative;
  border: 0px solid #99a3ec;
top:1px;
text-shadow:1px 1px 1px #2f6627;
}

    .username{
  position: relative;
  left: 50px;
  top: 22px;
}
      .avatar{
  position: relative;
  left: 3px;
  top: -7px;
}
      
</style>
 
<center>
      <% if(user.guilds[0]) { %>
   
      <% if(user.guilds[0].permissions == '2147483647') { %>
           <div class="adresler2"><a class="btn1" href="/panel/<%-user.guilds[0].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[0].name%> </a></div></div>

  <% } else { %>

    <% }  %>
        <% } %>

           <% if(user.guilds[1]) { %>
   
      <% if(user.guilds[1].permissions == '2147483647') { %>
          <div class="adresler2"> <a class="btn1" href="/panel/<%-user.guilds[1].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[1].name%> </a></div></div>

  <% } else { %>

    <% }  %>
        <% } %>
           <% if(user.guilds[2]) { %>
   
 <% if(user.guilds[2].permissions == '2147483647') { %>
          <div class="adresler2"> <a class="btn1" href="/panel/<%-user.guilds[2].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[2].name%> </a></div></div>
  <% } else { %>

    <% }  %>
        <% } %>

           <% if(user.guilds[3]) { %>
   
<% if(user.guilds[3].permissions == '2147483647') { %>
          <div class="adresler2"> <a class="btn1" href="/panel/<%-user.guilds[3].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[3].name%> </a></div> </div>
  <% } else { %>

    <% }  %>
        <% } %>

           <% if(user.guilds[4]) { %>
   
      <% if(user.guilds[4].permissions == '2147483647') { %>
           <div class="adresler2"><a class="btn1" href="/panel/<%-user.guilds[4].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[4].name%> </a></div></div>
  <% } else { %>

    <% }  %>
        <% } %>

           <% if(user.guilds[5]) { %>
   
<% if(user.guilds[5].permissions == '2147483647') { %>
          <div class="adresler2"> <a class="btn1" href="/panel/<%-user.guilds[5].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[5].name%> </a></div></div>
  <% } else { %>

    <% }  %>
        <% } %>

           <% if(user.guilds[6]) { %>
   <% if(user.guilds[6].permissions == '2147483647') { %>
          <div class="adresler2"> <a class="btn1" href="/panel/<%-user.guilds[6].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[6].name%> </a></div></div>
  <% } else { %>

    <% }  %>
        <% } %>

           <% if(user.guilds[7]) { %>
   
    <% if(user.guilds[7].permissions == '2147483647') { %>
           <div class="adresler2"><a class="btn1" href="/panel/<%-user.guilds[7].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[7].name%> </a></div></div>
  <% } else { %>

    <% }  %>
        <% } %>

           <% if(user.guilds[8]) { %>
   
 <% if(user.guilds[8].permissions == '2147483647') { %>
           <div class="adresler2"><a class="btn1" href="/panel/<%-user.guilds[8].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[8].name%> </a></div></div>
  <% } else { %>

    <% }  %>
        <% } %>

             <% if(user.guilds[9]) { %>
   
 <% if(user.guilds[9].permissions == '2147483647') { %>
           <div class="adresler2"><a class="btn1" href="/panel/<%-user.guilds[9].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[9].name%> </a></div></div>
  <% } else { %>

    <% }  %>
        <% } %>

             <% if(user.guilds[10]) { %>
   
 <% if(user.guilds[10].permissions == '2147483647') { %>
           <div class="adresler2"><a class="btn1" href="/panel/<%-user.guilds[10].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[10].name%> </a></div></div>
  <% } else { %>

    <% }  %>
        <% } %>

             <% if(user.guilds[11]) { %>
   
 <% if(user.guilds[11].permissions == '2147483647') { %>
           <div class="adresler2"><a class="btn1" href="/panel/<%-user.guilds[11].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[11].name%> </a></div></div>
  <% } else { %>

    <% }  %>
        <% } %>

             <% if(user.guilds[12]) { %>
   
 <% if(user.guilds[12].permissions == '2147483647') { %>
           <div class="adresler2"><a class="btn1" href="/panel/<%-user.guilds[12].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[12].name%> </a></div></div>
  <% } else { %>

    <% }  %>
        <% } %>

             <% if(user.guilds[13]) { %>
   
 <% if(user.guilds[13].permissions == '2147483647') { %>
           <div class="adresler2"><a class="btn1" href="/panel/<%-user.guilds[13].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[13].name%> </a></div></div>
  <% } else { %>

    <% }  %>
        <% } %>

             <% if(user.guilds[14]) { %>
   
 <% if(user.guilds[14].permissions == '2147483647') { %>
           <div class="adresler2"><a class="btn1" href="/panel/<%-user.guilds[14].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[14].name%> </a></div></div>
  <% } else { %>

    <% }  %>
        <% } %>

             <% if(user.guilds[15]) { %>
   
 <% if(user.guilds[15].permissions == '2147483647') { %>
           <div class="adresler2"><a class="btn1" href="/panel/<%-user.guilds[15].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[15].name%> </a></div></div>
  <% } else { %>

    <% }  %>
        <% } %>

     <% if(user.guilds[16]) { %>
   
 <% if(user.guilds[16].permissions == '2147483647') { %>
 <a class="btn1" href="/panel/<%-user.guilds[16].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[16].name%> </a></div>
  <% } else { %>

    <% }  %>
        <% } %>

     <% if(user.guilds[17]) { %>
   
 <% if(user.guilds[17].permissions == '2147483647') { %>
          <div class="adresler2"><a class="btn1" href="/panel/<%-user.guilds[17].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[17].name%> </a></div></div>
  <% } else { %>

    <% }  %>
        <% } %>

        
          <% if(user.guilds[18]) { %>
   
 <% if(user.guilds[18].permissions == '2147483647') { %>
 <a class="btn1" href="/panel/<%-user.guilds[18].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[18].name%> </a></div>
  <% } else { %>

    <% }  %>
        <% } %>

          <% if(user.guilds[19]) { %>
   
 <% if(user.guilds[19].permissions == '2147483647') { %>
           <div class="adresler2"><a class="btn1" href="/panel/<%-user.guilds[19].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[19].name%> </a></div></div>
  <% } else { %>

    <% }  %>
        <% } %>

          <% if(user.guilds[20]) { %>
   
 <% if(user.guilds[20].permissions == '2147483647') { %>
          <div class="adresler2"> <a class="btn1" href="/panel/<%-user.guilds[20].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[20].name%> </a></div></div>
  <% } else { %>

    <% }  %>
        <% } %>

            <% if(user.guilds[21]) { %>
   
 <% if(user.guilds[21].permissions == '2147483647') { %>
           <div class="adresler2"><a class="btn1" href="/panel/<%-user.guilds[21].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[21].name%> </a></div></div>
  <% } else { %>

    <% }  %>
        <% } %>
        
           <% if(user.guilds[22]) { %>
   
 <% if(user.guilds[22].permissions == '2147483647') { %>
          <div class="adresler2"> <a class="btn1" href="/panel/<%-user.guilds[22].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[22].name%> </a></div></div>
  <% } else { %>

    <% }  %>
        <% } %>

        
           <% if(user.guilds[23]) { %>
   
 <% if(user.guilds[23].permissions == '2147483647') { %>
          <div class="adresler2"> <a class="btn1" href="/panel/<%-user.guilds[23].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[23].name%> </a></div></div>
  <% } else { %>

    <% }  %>
        <% } %>

        <% if(user.guilds[24]) { %>
   
 <% if(user.guilds[24].permissions == '2147483647') { %>
          <div class="adresler2"> <a class="btn1" href="/panel/<%-user.guilds[24].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[24].name%> </a></div></div>
  <% } else { %>

    <% }  %>
        <% } %>

        <% if(user.guilds[25]) { %>
   
 <% if(user.guilds[25].permissions == '2147483647') { %>
          <div class="adresler2"> <a class="btn1" href="/panel/<%-user.guilds[25].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[25].name%> </a></div></div>
  <% } else { %>

    <% }  %>
        <% } %>

        <% if(user.guilds[65]) { %>
   
 <% if(user.guilds[26].permissions == '2147483647') { %>
          <div class="adresler2"> <a class="btn1" href="/panel/<%-user.guilds[26].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[26].name%> </a></div></div>
  <% } else { %>

    <% }  %>
        <% } %>
        <% if(user.guilds[27]) { %>
   
 <% if(user.guilds[27].permissions == '2147483647') { %>
          <div class="adresler2"> <a class="btn1" href="/panel/<%-user.guilds[27].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[27].name%> </a></div></div>
  <% } else { %>

    <% }  %>
        <% } %>

                <% if(user.guilds[28]) { %>
   
 <% if(user.guilds[28].permissions == '2147483647') { %>
          <div class="adresler2"> <a class="btn1" href="/panel/<%-user.guilds[28].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[28].name%> </a></div></div>
  <% } else { %>

    <% }  %>
        <% } %>


        <% if(user.guilds[29]) { %>
   
 <% if(user.guilds[29].permissions == '2147483647') { %>
          <div class="adresler2"> <a class="btn1" href="/panel/<%-user.guilds[29].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[29].name%> </a></div></div>
  <% } else { %>

    <% }  %>
        <% } %>


        <% if(user.guilds[30]) { %>
   
 <% if(user.guilds[30].permissions == '2147483647') { %>
          <div class="adresler2"> <a class="btn1" href="/panel/<%-user.guilds[30].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[30].name%> </a></div></div>
  <% } else { %>

    <% }  %>
        <% } %>

    <% if(user.guilds[31]) { %>
   
 <% if(user.guilds[31].permissions == '2147483647') { %>
          <div class="adresler2"> <a class="btn1" href="/panel/<%-user.guilds[31].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[31].name%> </a></div></div>
  <% } else { %>

    <% }  %>
        <% } %>

    <% if(user.guilds[32]) { %>
   
 <% if(user.guilds[32].permissions == '2147483647') { %>
          <div class="adresler2"> <a class="btn1" href="/panel/<%-user.guilds[32].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[32].name%> </a></div></div>
  <% } else { %>

    <% }  %>
        <% } %>
  <% if(user.guilds[33]) { %>
   
 <% if(user.guilds[33].permissions == '2147483647') { %>
          <div class="adresler2"> <a class="btn1" href="/panel/<%-user.guilds[33].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[33].name%> </a></div></div>
  <% } else { %>

    <% }  %>
        <% } %>


  <% if(user.guilds[34]) { %>
   
 <% if(user.guilds[34].permissions == '2147483647') { %>
          <div class="adresler2"> <a class="btn1" href="/panel/<%-user.guilds[34].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[34].name%> </a></div></div>
  <% } else { %>

    <% }  %>
        <% } %>

  <% if(user.guilds[35]) { %>
   
 <% if(user.guilds[35].permissions == '2147483647') { %>
          <div class="adresler2"> <a class="btn1" href="/panel/<%-user.guilds[35].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[35].name%> </a></div></div>
  <% } else { %>

    <% }  %>
        <% } %>


  <% if(user.guilds[36]) { %>
   
 <% if(user.guilds[36].permissions == '2147483647') { %>
          <div class="adresler2"> <a class="btn1" href="/panel/<%-user.guilds[36].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[36].name%> </a></div></div>
  <% } else { %>

    <% }  %>
        <% } %>

  <% if(user.guilds[37]) { %>
   
 <% if(user.guilds[37].permissions == '2147483647') { %>
          <div class="adresler2"> <a class="btn1" href="/panel/<%-user.guilds[37].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[37].name%> </a></div></div>
  <% } else { %>

    <% }  %>
        <% } %>


  <% if(user.guilds[38]) { %>
   
 <% if(user.guilds[38].permissions == '2147483647') { %>
          <div class="adresler2"> <a class="btn1" href="/panel/<%-user.guilds[38].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[38].name%> </a></div></div>
  <% } else { %>

    <% }  %>
        <% } %>
  <% if(user.guilds[39]) { %>
   
 <% if(user.guilds[39].permissions == '2147483647') { %>
          <div class="adresler2"> <a class="btn1" href="/panel/<%-user.guilds[39].id%>" style="text-decoration:none"><i class="fas fa-sign-in-alt "></i>  <%-user.guilds[39].name%> </a></div></div>
  <% } else { %>

    <% }  %>
        <% } %>



















        </center>

   
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>

  <script>
  const options = {
  bottom: '64px', // default: '32px'
  right: 'unset', // default: '32px'
  left: '32px', // default: 'unset'
  time: '0.5s', // default: '0.3s'
  mixColor: '#f0f0f0', // default: '#fff'
  backgroundColor: '#f8f8f8',  // default: '#fff'
  buttonColorDark: '#080808',  // default: '#100f2c'
  buttonColorLight: '#f0ffff', // default: '#fff'
  saveInCookies: true, // default: true,
  label: '🌓', // default: ''
  autoMatchOsTheme: false // default: true
}
 
const darkmode = new Darkmode(options);
darkmode.showWidget();
  </script>
  



